/* colors */

$white: #ffffff;
$bg: #93c0e3;
$base: #31627e;
$blue: #4e91ca;
$darkblue: #427cbe;
$titleblue: #3a86c0;
$buttonblue: #427bbe;
$grey: #808080;
$black: #363636;

/* base */

$big_max_width: 1920px;
$big_min_width: 1160px;

$small_max_width: 640px;
$small_min_width: 560px;

$small_width: 640px;