.topper_container
	.note_content
		.note
			.note_text
				div
					sup *
					span Под «быстрым действием» стоит понимать действие препарата на протяжении 30 минут.
				div Продолжительность действия ибупрофена составляет до 8 часов. Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013
	
	.content
		.pack
		
		.text
			.top_label 
				span Поможет быстро
				sup *
				span  и надолго
				sup *
				span  устранить жар
			.bottom_label Разработан специально для детей
		
		.buy.adorable_table
			.adorable_cell
				.marker
				span.buy_label Где купить

.video_container
	.player
		object.vimeo(frameborder="0", width="100%", height="100%", data="http:///www.youtube.com/embed/KaGKBrZ1lFc", wmode="transparent", allowscriptaccess="always", allowfullscreen="true")
	
	.know_more Узнать больше

.dragon_container
	.content.dragon_content
		.dragon_1
		
		.dragon_2
		
		.dragon_3
		
		.dragon_text.dragon_text_1.half
			.dragon_top_label Когда у ребенка высокая температура – нельзя терять ни секунды.
			.dragon_bottom_label
				span Важно выбрать эффективный препарат, который поможет быстро
				sup *
				span  снять жар и боль
				sup **
				span .
		
		.dragon_text.dragon_text_2.half
			.dragon_top_label
				span Быстрое
				sup *
				span  действие 
			.dragon_bottom_label
				span Ибуфен
				span.r ®
				span  Юниор быстро
				sup **
				span  поможет снять жар и боль
				sup **
				span , и ваш ребенок может почувствовать облегчение уже через 30 минут.
		
		.dragon_text.dragon_text_3.half
			.dragon_top_label
				div Длительный эффект - до 8 часов
			
			.dragon_bottom_label
				div
					span Препараты на основе ибупрофена избавляют от жара и боли до 8 часов
					sup ***
					span .
				div Они действуют всю ночь, помогая ребенку спокойно спать без лихорадки.
		
		.notes.adorable_table
			.adorable_cell
				div
					sup *
					span Под «быстрым действием» стоит понимать действие препарата на протяжении 30 минут. Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013
				div
					sup **
					span В соответствии с инструкцией препарат применяется для симптоматического лечения жара и боли различного происхождения (включая: жар после имунизации, острые респираторные вирусные инфекции, грипп, боль при прорезывании зубов, боль после удаления зуба и другие виды боли, в том числе воспалительного генеза). Препарат имеет противопоказания.
				div 
					sup ***
					span Продолжительность действия ибупрофена составляет до 8 часов. Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013

.safety_container
	.content
		.safety_text.half
			.adorable_table
				.adorable_cell
					.top_label Специально для детей
					.bottom_label
						div
							span Ибуфен
							span.r ®
							span  Юниор не содержит красителей, стабилизаторов и консервантов, что снижает риск развития аллергической реакции.

.europe_container
	.content
		.europe_text.half
			.adorable_table
				.adorable_cell
					.top_label Европейское качество
					.bottom_label
						span Ибуфен
						span.r ®
						span  Юниор производится компанией Polpharma – лидером фармацевтической отрасли в Польше, с соблюдением высоких стандартов качества
						sup *
						span .
		
		.note 
			sup *
			span Под высоким качеством имеется ввиду наличие GMP сертификата на производство препарата.

.map_container
	.title
		.content.adorable_table
			.adorable_cell
				span Ближайшие аптеки, в которых вы можете приобрести Ибуфен
				span.r ®
				span  Юниор
		
	#map

.know_container.adorable_table
	.adorable_cell
		a(href="http://www.add.ua/catalogsearch/result/?q=ибуфен", target="_blank")
			button.cost Узнать стоимость
		button.instruction Инструкция

.instruction_container
	.content.adorable_table
		.adorable_cell
			.items_container
				.item.active
					.arrow
					.title
						span Состав лекарственного средства
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Лекарственная форма
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Название и местонахождения производителя
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Фармакотерапевтическая группа
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Показания к применению
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Противопоказания
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Особенности применения
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Применение в период беременности и кормления грудью
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Влияние на способность вождения механических средств, транспорта и обслуживания механического оборудования
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Дети
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Способ применения и дозы
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Передозировка
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Побочные эффекты
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Состав лекарственного средства
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Взаимодействие с другими лекарственными средствами и другие виды взаимодействий
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Срок годности
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Условия хранения
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Упаковка
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Условия отпуска
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
			
			button.slide_up Свернуть

.fixed_footer
	img(src="/img/user/footer_warning.png")