.topper_container
	.note_content
		.note
			.note_text
				div
					sup *
					span Под «быстрым действием» стоит понимать действие препарата на протяжении 30 минут.
				div Продолжительность действия ибупрофена составляет до 8 часов. Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013
	
	.content
		.pack
		
		.text
			.top_label 
				span Поможет быстро
				sup *
				span  и надолго
				sup *
				span  устранить жар
			.bottom_label Разработан специально для детей
		
		.buy.adorable_table
			.adorable_cell
				.buy_button
					.marker
					span.buy_label Ближайшие аптеки

.video_container
	.player
		object.vimeo#main_video(frameborder="0", width="100%", height="100%", data="http:///www.youtube.com/embed/N8gQalTzXc8", wmode="transparent", allowscriptaccess="always", allowfullscreen="true")
	
	.know_more Узнать больше

.dragon_container
	.content.dragon_content
		.dragon_1
		
		.dragon_2
		
		.dragon_3
		
		.dragon_text.dragon_text_1.half
			.dragon_top_label Когда у ребенка высокая температура – нельзя терять ни секунды.
			.dragon_bottom_label
				span Важно выбрать эффективный препарат, который поможет быстро
				sup *
				span  снять жар и боль
				sup **
				span .
		
		.dragon_text.dragon_text_2.half
			.dragon_top_label
				span Быстрое
				sup *
				span  действие 
			.dragon_bottom_label
				span Ибуфен
				span.r ®
				span  Юниор быстро
				sup *
				span  поможет снять жар и боль
				sup **
				span , и ваш ребенок может почувствовать облегчение уже через 30 минут.
		
		.dragon_text.dragon_text_3.half
			.dragon_top_label
				div Длительный эффект - до 8 часов
			
			.dragon_bottom_label
				div
					span Препараты на основе ибупрофена избавляют от жара и боли до 8 часов
					sup ***
					span .
				div Они действуют всю ночь, помогая ребенку спокойно спать без лихорадки.
		
		.notes.adorable_table
			.adorable_cell
				div
					sup *
					span Под «быстрым действием» стоит понимать действие препарата на протяжении 30 минут. Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013
				div
					sup **
					span В соответствии с инструкцией препарат применяется для симптоматического лечения жара и боли различного происхождения (включая: жар после имунизации, острые респираторные вирусные инфекции, грипп, боль при прорезывании зубов, боль после удаления зуба и другие виды боли, в том числе воспалительного генеза). Препарат имеет противопоказания.
				div 
					sup ***
					span Продолжительность действия ибупрофена составляет до 8 часов. Крамарев, С. А., «Лечение лихорадки у детей», Здоровье ребенка №8, 2012; Абатуров О. Е., «Классическая антипиретическая терапия», Здоровье ребенка №8, 2013

.safety_container
	.content
		.safety_text.half
			.adorable_table
				.adorable_cell
					.top_label Специально для детей
					.bottom_label
						div
							span Ибуфен
							span.r ®
							span  Юниор не содержит красителей, стабилизаторов и консервантов, что снижает риск развития аллергической реакции.

.europe_container
	.content
		.europe_text.half
			.adorable_table
				.adorable_cell
					.top_label Европейское качество
					.bottom_label
						span Ибуфен
						span.r ®
						span  Юниор производится компанией Polpharma – лидером фармацевтической отрасли в Польше, с соблюдением высоких стандартов качества
						sup *
						span .
		
		.note 
			sup *
			span Под высоким качеством имеется ввиду наличие GMP сертификата на производство препарата.

.map_container
	.title
		.content.adorable_table
			.adorable_cell
				span Ближайшие аптеки
	
	#map
	
	.location_container
		.half.left
			input.location_input#location_input(placeholder="Адрес")
			.label Город, улица, дом
		
		.half.right
			button.find Найти

.know_container.adorable_table
	.adorable_cell
		// a(href="http://www.add.ua/catalogsearch/result/?q=ибуфен", target="_blank")
			button.cost Узнать стоимость
		button.instruction Инструкция

.instruction_container
	.content.adorable_table
		.adorable_cell
			.items_container
				.item.active
					.arrow
					.title
						span Состав лекарственного средства
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420), желатин (Е441), краситель патентованный голубой (Е131), очищенная вода.
				
				.item
					.arrow
					.title
						span Название и местонахождения производителя
					.text
						div МЕДАНА ФАРМА Акционерное Общество, Польща 
						div 98-200 Серадз, ул. Польськой Организации Войсковой 57. 
						div MEDANA PHARMA S.A., Poland 
						div 98-200 Sieradz, 57, Polskiej Organizacji Wojskowej str.
				
				.item
					.arrow
					.title
						span Фармакотерапевтическая группа
					.text
						div Код ATС: М 01 АЕ 01
						br
						div Ибупрофен является производным пропионовой кислоты. Оказывает обезболивающее, жаропонижающее и противовоспалительное действие.
						br
						div Механизм действия ибупрофена обусловлен, прежде всего, подавлением биосинтеза простагландинов за счет снижения активности циклооксигеназы (ЦОГ) – фермента, регулирующего превращение арахидоновой кислоты в простагландины, простациклин и тромбоксан. При этом в результате необратимого торможения циклооксигеназного пути метаболизма арахидоновой кислоты уменьшается образование простагландинов. Снижение концентрации простагландинов в месте воспаления сопровождается уменьшением образования брадикинина, эндогенных пирогенов, других биологически активных веществ, радикалов кислорода и NO. Все это приводит к снижению активности воспалительного процесса (противовоспалительный эффект ибупрофена) и сопровождается уменьшением болевой рецепции (анальгезирующий эффект). Уменьшение концентрации простагландинов в цереброспинальной жидкости приводит к нормализации температуры тела (антипиретический эффект).
						br
						div Мягкие желатиновые капсулы Ибуфен® Юниор содержат ибупрофен в жидком виде. Желатиновая капсула обеспечивает высокую точность дозирования помещаемых в них веществ. Оболочка капсулы обеспечивает защиту действующего вещества от света, воздуха и влаги, а так же исключает неприятный вкус и запах лекарственного вещества при приеме. Капсула распадается в ЖКТ быстрее, чем драже и таблетки, а ее жидкое содержимое быстрее и легче абсорбируется в организме человека, обеспечивая высокую биодоступность ибупрофена.
						br
						div После перорального применения более 80% ибупрофена всасывается из пищеварительного тракта. 90% препарата связывается с белками плазмы крови (в основном с альбуминами).
						br
						div Период достижения максимальной концентрации в плазме крови при приеме натощак – 45 минут, при приеме после еды – 1,5-2,5 часа; в синовиальной жидкости – 2-3 часа, где создаются большие концентрации, чем в плазме крови.
						br
						div Препарат не кумулирует в организме.
						br
						div Метаболизируется ибупрофен, главным образом, в печени. Подвергается пресистемному и постсистемному метаболизму. После абсорбции около 60% фармакологически неактивной R – формы ибупрофена медленно трансформируется в активную S – форму.
						br
						div 60-90% препарата выводится почками в форме метаболитов и продуктов их соединения с глюкуроновой кислотой, в меньшей степени, с желчью и в неизменном виде выделяется не более 1%. После приема разовой дозы препарат полностью выводится в течение 24 часов.
				
				.item
					.arrow
					.title
						span Показания к применению
					.text
						div Симптоматическое лечение лихорадки и боли различного происхождения (включая лихорадку после иммунизации, острые респираторные вирусные инфекции, грипп, боль при прорезывании зубов, боль после удаления зуба и другие виды боли, в том числе воспалительного генеза).
				
				.item
					.arrow
					.title
						span Противопоказания
					.text
						div Препарат Ибуфен® Юниор не следует применять в случае:
						br
						div - индивидуальной повышенной чувствительности к какому-либо компоненту препарата, а также к другим нестероидным противовоспалительным лекарственным препаратами;
						br
						div - проявления когда-либо ранее симптомов аллергии в виде насморка, кожных высыпаний или бронхоспастических реакций после применения ацетилсалициловой кислоты или других нестероидных противовоспалительных препаратов;
						br
						div - язвенной болезнью желудка и двенадцатиперстной кишки в фазе обострения, а также больным, у которых есть в анамнезе желудочно-кишечное кровотечение или перфорация после применения НПВП;
						br
						div - выраженной недостаточности функции печени, почек, а также больным с тяжелой сердечной недостаточностью, ишемической болезнью сердца;
						br
						div - заболеваниях крови: гемофилии, гипокоагуляции, геморрагическом диатезе;
						br
						div- дегидратации, вызванной рвотой, диареей или недостаточным употреблением жидкости.
				
				.item
					.arrow
					.title
						span Особенности применения
					.text
						div Перед приемом препарата Ибуфен® Юниор следует проконсультироваться с врачом, если ранее были подтверждены:
						br
						div - бронхиальная астма, крапивница;
						br
						div - заболевания печени и почек;
						br
						div - язвенная болезнь желудка и двенадцатиперстной кишки в анамнезе
						br
						div - артериальная гипертония.
						br
						div Во время длительного лечения необходим контроль картины периферической крови и функционального состояния печени и почек. При появлении симптомов гастропатии показан тщательный контроль, включающий проведение эзофагогастродуоденоскопии, общий анализ крови (определение гемоглобина), анализ кала на скрытую кровь. При необходимости определения 17-кетостероидов препарат следует отменить за 48 часов до исследования.
						br
						div Препарат содержит сорбит. Препарат нельзя назначать пациентам с редкой наследственной непереносимостью фруктозы.
						br
						div У пациентов пожилого возраста выше риск возникновения побочных эффектов в результате приема НПВП, особенно в виде кровотечения из ЖКТ и перфорации, что могут привести к летальному исходу.
						br
						div Желудочно-кишечные кровотечения, ульцерация или перфорация, которые могут привести к летальному исходу, отмечались при применении всех НПВП и не зависели от продолжительности лечения и наличии желудочно-кишечных осложнений в анамнезе.
						br
						div Повышенные дозы НПВП, пожилой возраст и язвенная болезнь в анамнезе являются рисками возникновения побочных реакций со стороны пищеварительного тракта. Во время лечения в этих случаях рекомендуется применять минимально эффективные дозы.
						br
						div Следует учитывать проведения комбинированной терапии протективными препаратами (например мизопростолом или ингибиторами протонной помпы). Особенно пациентам, нуждающихся в длительном применение низких доз ацетилсалициловой кислоты или других лекарственных средств, которые могут привести к повышению риска возникновения побочных эффектов со стороны желудочно-кишечного тракта.
						br
						div Пациенты, у которых наблюдались желудочно-кишечные расстройства, в частности лица пожилого возраста, должны прекратить лечение и проконсультироваться с врачом при появлении каких-либо нежелательных симптомов (особенно кровотечения из пищеварительного тракта).
						br
						div Следует с осторожностью применять препарат пациентам, которые получают сопутствующую терапию лекарственными средствами, которые могут увеличивать риск возникновения язвенной болезни или кровотечения, в частности пероральные кортикостероиды, антикоагулянты, например варфарин, селективные ингибиторы обратного захвата серотонина или антитромбоцитарные средства, такие как ацетилсалициловая кислота.
						br
						div НПВП следует применять с осторожностью пациентам, у которых есть в анамнезе язвенный колит или болезнь Крона, поскольку их состояние может ухудшаться.
						br
						div Серьезные кожные реакции, некоторые из них – летальные, включая эксфолиативный дерматит, синдром Стивенса-Джонсона и токсический эпидермальный некролиз, очень редко могут возникать в связи с применением НПВП. Пациенты имеют высокий риск возникновения этих реакций в начале курса лечения, причем первые проявления реакции возникают в большинстве случаев в течение 1-го месяца лечения. Прием препарата следует прекратить при первом появлении кожных высыпаний, поражений слизистой оболочки или любых других симптомов повышенной чувствительности.
						br
						div У пациентов, которые имеют или имели бронхиальную астму или аллергические заболевания, может возникать бронхоспазм.
						br
						div При длительном применении обезболивающих средств в больших дозах может возникнуть головная боль, которую нельзя лечить путем повышения дозы препарата.
						br
						div Длительное и бесконтрольное применение обезболивающих средств, особенно сочетание различных обезболивающих действующих веществ, может приводить к хроническому поражению почек с риском возникновения почечной недостаточности (анальгетическое нефропатия).
						br
						div Имеются некоторые доказательства того, что лекарственные средства, которые замедляют циклооксигеназно/ простагландиновый синтез, могут вызвать нарушение фертильности женщин из-за влияния на овуляцию. Это можно устранить путем прекращения применения этих препаратов.
				
				.item
					.arrow
					.title
						span Применение в период беременности и кормления грудью
					.text
						div Применение ибупрофена в первые 6 месяцев беременности требует осторожности и разрешается исключительно по назначению врача, после оценки предположительной пользы и возможных рисков. Не следует применять ибупрофен в последнем триместре беременности.
						br
						div Ибупрофен может в небольших количествах выделяться с грудным молоком. Не известны случаи появления побочных действий у младенцев, однако, рекомендуется прекратить грудное вскармливание в период лечения ибупрофеном.
				
				.item
					.arrow
					.title
						span Влияние на способность вождения механических средств, транспорта и обслуживания механического оборудования
					.text
						div При кратковременном применении Ибуфен® Юниор не влияет или незначительно влияет на способность управлять автотранспортом и работе с механизмами, но при длительном применении могут возникать побочные эффекты, такие как повышенная утомляемость и головокружение.
				
				.item
					.arrow
					.title
						span Способ применения и дозы
					.text
						div Для перорального применения.
						br
						div Дети от 6 до 9 лет (20-29 кг): разовая доза 1 капсула. Затем, в случае необходимости по 1 капсуле каждые 6-8 часов. Максимальная суточная доза 3 капсулы (600 мг ибупрофена).
						br
						div Дети от 10 до 12 лет (30-39 кг): разовая доза 1 капсула. Затем, в случае необходимости по 1 капсуле каждые 4-6 часов. Максимальная суточная доза 4 капсулы (800 мг ибупрофена).
						br
						div Взрослые и дети старше 12 лет (более 40 кг): разовая доза – 1-2 капсулы. Затем, в случае необходимости по 1-2 капсулы каждые 4-6 часов. Максимальная суточная доза 6 капсул (1200 мг ибупрофена).
						br
						div Минимальный интервал между очередными дозами составляет 4-6 часов.
						br
						div Капсулу необходимо глотать целиком, запивая небольшим количеством воды. Капсулы нельзя раскусывать, рассасывать или разжевывать. При применении препарата у детей для точного дозирования следует учитывать вес ребенка.
						br
						div Если симптомы заболевания сохраняются более 3 дней, а при применении для облегчения боли – более 4 дней, необходимо обратиться к врачу для уточнения диагноза и коррекции схемы лечения.
				
				.item
					.arrow
					.title
						span Передозировка
					.text
						div В случае острой передозировки симптомы зависят от принятого количества лекарственного средства, а также времени прошедшего с момента его приема. Первыми симптомами, которые обычно наблюдаются, являются: тошнота, рвота, головная боль и головокружение, боль в эпигастрии, сонливость.
						br
						div В случае передозировки возможны кома, артериальная гипотензия, гиперкалиемия с нарушением сердечного ритма, метаболический ацидоз. Повышение температуры тела, нарушения со стороны дыхательной системы и нарушение функции почек. После длительного приема спорадически могут наблюдаться гемолитическая анемия, гранулоцитопения и тромбоцитопения.
						br
						div Если после острой передозировки прошло не более 1 часа, рекомендуется вызвать рвоту, промыть желудок или принять активированный уголь.
						br
						div В случаях передозировки ибупрофена нет антидота и специфического лечения. Симптоматическое лечение базируется на мониторинге жизненно важных функций с измерением артериального давления, выполнением ЭКГ, а также интерпретации симптомов, указывающих на возможное кровотечение из желудочно-кишечного тракта, появление метаболического ацидоза и нарушений со стороны центральной нервной системы.
				
				.item
					.arrow
					.title
						span Побочные эффекты
					.text
						div При применении препарата Ибуфен® Юниор в течение 2-3 дней побочные реакции практически не наблюдаются. В случае длительного применения возможно возникновение нижеуказанных побочных реакций.
						br
						div Со стороны желудочно-кишечного тракта:
						br
						div - Нечасто: тошнота, изжога, диарея, боли в животе;
						br
						div - Редко: рвота, метеоризм, запор, воспаление желудочно-кишечного тракта;
						br
						div - Очень редко: изъязвление слизистой оболочки желудочно-кишечного тракта, кровотечения, болезнь Крона, нарушение функции печени.
						br
						br
						div Со стороны нервной системы:
						br
						div - Нечасто: головная боль;
						br
						div - Редко: головокружение, возбуждение, бессонница, сонливость;
						br
						div - В единичных случаях описаны: снижение слуха, шум в ушах, депрессия.
						br
						br
						div Со стороны мочевыделительной системы:
						br
						div - Редко: отечный синдром;
						br
						div - Очень редко: острая почечная недостаточность, аллергический нефрит, полиурия, цистит.
						br
						br
						div Со стороны органов кроветворения:
						br
						div - Очень редко: анемия (в том числе, гемолитическая, апластическая), тромбоцитопения и тромбоцитопеническая пурпура, агранулоцитоз, лейкопения.
						br
						br
						div Аллергические реакции:
						br
						div - Нечасто: кожная сыпь, зуд, крапивница;
						br
						div - Очень редко: отек Квинке, ангионевротический отек, анафилактоидные реакции, анафилактический шок, бронхоспазм, лихорадка, многоформная экссудативная эритема (в том числе, синдром Стивенса-Джонсона), токсический эпидермальный некролиз (синдром Лайела), эозинофилия, аллергический ринит.
						br
						br
						div Со стороны сердечно – сосудистой системы:
						br
						div - При лечении НПВП может появиться: сердечная недостаточность, повышение артериального давления, тахикардия.
						br
						br
						div Со стороны иммунной системы:
						br
						div - Нечасто у пациентов с аутоиммунными нарушениями (системная красная волчанка, системные заболевания соединительной ткани) при лечении ибупрофеном отмечались единичные случаи появления симптомов асептического менингита (ригидность затылочных мышц, головная боль, тошнота, рвота, высокая температура или дезориентация). Аллергические реакции в виде высыпаний на коже, зуда, приступа бронхиальной астмы, снижение артериального давления.
				
				.item
					.arrow
					.title
						span Взаимодействие с другими лекарственными средствами и другие виды взаимодействий
					.text
						div Ибупрофен (так же как другие лекарственные средства группы нестероидных противовоспалительных препаратов) не следует применять одновременно с нижеперечисленными лекарственными средствами:
						br
						div − ацетилсалициловой кислотой или другими нестероидными противовоспалительными препаратами (повышается риск появления побочных действий со стороны желудочно-кишечного тракта);
						br
						div − антигипертензивными лекарственными средствами и диуретиками (лекарственные средства из группы нестероидных противовоспалительных препаратов могут вызывать снижение эффективности действия этих средств);
						br
						div − дигоксином (повышается уровень в плазме крови обоих препаратов);
						br
						div − антикоагулянтами (немногочисленные клинические данные указывают, что нестероидные противовоспалительные препараты могут усиливать действие лекарственных средств понижающих свертываемость крови);
						br
						div − литием и метотрексатом (нестероидные противовоспалительные препараты могут вызывать повышение концентрации в плазме, как лития, так и метотрексата);
						br
						div − зидовудином (сообщалось об увеличении времени кровотечения у пациентов, принимающих одновременно ибупрофен и зидовудин);
						br
						div − циклоспорином и такролимусом (повышается риск возникновения нефротоксичности);
						br
						div − антибиотиками группы хинолонов (может возникнуть риск возникновения судорог);
						br
						div − минералокортикоидами, глюкокортикоидами (усиливаются побочные эффекты);
						br
						div − производными сульфонилмочевины (усиливается гипогликемический эффект);
						br
						div − антацидами и холестирамином (снижают абсорбцию);
						br
						div − кофеином (усиливает анальгезирующий эффект).
				
				.item
					.arrow
					.title
						span Срок годности
					.text
						div 2 года. Не применять после истечения срока годности, указанного на упаковке.
				
				.item
					.arrow
					.title
						span Условия хранения
					.text
						div Хранить в оригинальной упаковке при температуре не выше 25°C.
						br
						div Хранить в недоступном для детей месте.
				
				.item
					.arrow
					.title
						span Упаковка
					.text
						div По 10 капсул в блистере. По 1 или 2 блистера в картонной пачке.
				
				.item
					.arrow
					.title
						span Условия отпуска
					.text
						div Без рецепта.
			
			button.slide_up Свернуть

//.healthWarning
//	img(src="/img/user/healthWarningMain.jpg")

.instruction_top_container
	.content
		a.know_logo.new_module(href="/")
		
		.contacts.half
			.adorable_table
				.adorable_cell
					.icons
						.text
							div 04070, г. Киев, ул. Ильинская, 8,
							div 11 подъезд, 5 этаж

.fixed_footer
	img(src="/img/user/healthWarningMain.jpg")

.up_arrow