@charset "UTF-8";
@import '../../normalize/normalize';
@import '../dynamic/dynamic';

body {
	font-size: 18px;
	background: url('/img/user/pat.jpg') repeat center;
	background-color: $bg;
	color: $base;
	font-family: 'Roboto_Medium';
}

#main_container {
	margin: 0 auto;
	
	max-width: $big_max_width;
	min-width: $big_min_width;
	
	&.small {
		max-width: $small_max_width;
		min-width: $small_min_width;
		font-size: 16px;
		
		.logo {
			width: 145px;
			height: 40px;
			background: url('/img/user/640/logo.png') no-repeat center;
		}
		
		.icons {
			height: 26px;
		}
		
		.icon {
			width: 26px;
			height: 26px;
			background: url('/img/user/640/social.png') no-repeat;
			
			&.fb {
				margin-left: 10px;
			}
			
			&.vk {
				background-position: -27px 0;
			}
		}
		
		#fixed_topper {
			max-width: $small_max_width;
			height: 60px;
			
			button {
				height: 26px;
				padding: 0 30px;
				font-size: 12px;
			}
			
			.fever {
				font-size: 11px;
				line-height: 11px;
				margin-left: 8px;
			}
		}
		
		.content {
			width: 560px;
		}
		
		.instruction_top_container {
			height: 88px;
			
			&:before {
				height: 7px;
				top: -6px;
				background: url('/img/user/640/white_arc.png') no-repeat center;
			}
			
			.instruction {
				font-size: 24px;
				line-height: 24px;
			}
			
			.contacts {
				font-size: 12px;
				line-height: 12px;
			}
			
			.icons {
				@include my_inline_block;
				position: relative;
				margin-bottom: 8px;
			}
			
			.icon {
				&.fb {
					background-position: 0 -27px;
				}
				
				&.vk {
					background-position: -27px -27px;
				}
			}
		}
		
		.warning_container {
			height: 820px !important;
			
			.warning_image {
				width: 462px !important;
				height: 680px !important;
				background: url('/img/user/640/warning.png') no-repeat !important;
			}
		}
	}
	
	.logo {
		width: 210px;
		height: 51px;
		background: url('/img/user/1280/logo.png') no-repeat center;
	}
	
	.icons {
		position: absolute;
		height: 40px;
		right: 0;
		text-align: right;
	}
	
	button.advices {
		background-color: #175fa9;
		color: white;
		font-size: 16px;
		line-height: 16px;
		height: 40px;
		padding: 0 38px;
	}
	
	.icon {
		display: inline-block;
		vertical-align: middle;
		width: 31px;
		height: 30px;
		background: url('/img/user/1280/social.png') no-repeat;
		cursor: pointer;
		
		&.fb {
			margin-left: 39px;
		}
		
		&.vk {
			background-position: -32px 0;
			margin-left: 10px;
		}
	}
	
	#fixed_topper {
		@include transition(background-color 0.3s ease-in-out);
		width: 100%;
		max-width: $big_max_width;
		position: fixed;
		z-index: 5;
		height: 90px;
		top: 0px;
		background-color: rgba(255, 255, 255, 0.2);
		
		&.scrolled {
			background-color: white;
			
			.fever {
				color: #595959;
			}
			
			.icon {
				&.fb {
					background-position: 0 -31px;
				}
				
				&.vk {
					background-position: -32px -31px;
				}
			}
		}
		
		.adorable_cell {
			text-align: left;
		}
		
		.logo {
			display: inline-block;
			vertical-align: middle;
		}
		
		.icons {
			top: 0;
			bottom: 0;
			margin: auto;
		}
		
		.fever {
			@include transition(color 0.3s ease-in-out);
			vertical-align: middle;
			color: transparent;
			font-family: 'PT_Sans_Italic';
			margin-left: 18px;
		}
	}
	
	.content {
		@include border_boxed;
		margin: 0 auto;
		width: 960px;
		position: relative;
		height: 100%;
	}
	
	.instruction_top_container {
		height: 135px;
		background-color: white;
		position: relative;
		
		&.active {
			.arrow {
				background-position: -13px 0;
			}
		}
		
		.know_logo {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 145px;
			height: 40px;
			background: url('/img/user/640/logo.png') no-repeat;
		}
		
		.instruction {
			font-size: 36px;
			line-height: 36px;
			text-transform: uppercase;
			font-family: 'Neucha';
		}
		
		.instruction_title {
			cursor: pointer;
		}
		
		.arrow {
			@include absolute_horizontal_centered;
			width: 12px;
			height: 6px;
			background: url('/img/user/arrow.png') no-repeat;
			bottom: 19px;
		}
		
		.contacts {
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
			font-size: 14px;
			font-family: 'Roboto_Medium';
			
			.adorable_cell {
				text-align: right;
			}
		}
		
		.icons {
			@include my_inline_block;
			position: relative;
			margin-bottom: 8px;
		}
		
		.icon {
			&.fb {
				background-position: 0 -31px;
			}
			
			&.vk {
				background-position: -32px -31px;
			}
		}
		
		.text {
			display: inline-block;
			vertical-align: middle;
			color: $darkblue;
			font-size: 14px;
			font-family: 'PT_Sans_Regular';
		}
	}
	
	.warning_container {
		background-color: white;
		position: relative;
		
		&.big {
			height: 1485px;
			
			.warning_image {
				height: 967px;
				background: url('/img/user/1280/warning_big.png') no-repeat;
			}
		}
		
		&.small {
			height: 789px;
			
			.warning_image {
				height: 513px;
				background: url('/img/user/1280/warning_small.png') no-repeat;
			}
		}
		
		.warning_image {
			@include absolute_centered;
			width: 1179px;
		}
	}
}

.module {
	display: none;

	&.active {
		display: block;
	}
}