@charset "UTF-8";
@import '../../normalize/normalize';
@import '../dynamic/dynamic';

body {
	font-size: 18px;
	background: url('/img/user/pat.jpg') repeat center;
	background-color: $bg;
	color: $base;
	font-family: 'Roboto_Medium';
	
	> iframe {
		display: none;
	}
}

#main_container {
	margin: 0 auto;
	
	max-width: $big_max_width;
	min-width: $big_min_width;
	
	&.mini {
		min-width: $mini_min_width;
		max-width: $mini_max_width;
		font-size: 14px;
		
		.logo {
			width: 105px;
			height: 25px;
			background: url('/img/user/320/logo.png') no-repeat center;
		}
		
		.icon {
			width: 26px;
			height: 26px;
			background: url('/img/user/640/social.png') no-repeat;
			
			&.fb {
				margin-left: 10px;
			}
			
			&.vk {
				background-position: -27px 0;
			}
		}
		
		#fixed_topper {
			height: 45px;
			
			button {
				@include border_radius(0);
				height: 100%;
				font-size: 12px;
				line-height: 12px;
				padding: 0 20px;
			}
			
			.content {
				width: 100%;
			}
			
			.adorable_cell {
				padding: 0 0 0 30px;
			}
			
			.fever {
				display: none;
			}
		}
		
		.content {
			width: $mini_content_width;
			padding: 0 20px;
		}
		
		.instruction_top_container {
			height: 68px;
			
			.know_logo {
				left: 20px;
				width: 73px;
				height: 20px;
				background: url('/img/user/320/know_logo.png') no-repeat;
			}
			
			.contacts {
				width: 60%;
				
				.adorable_cell {
					padding: 0 20px 0 0;
				}
			}
			
			.icons {
				height: auto;
				width: 100%;
			}
			
			.text {
				font-size: 12px;
			}
		}
	}
	
	&.tiny {
		min-width: $tiny_min_width;
		font-size: 16px;
		
		.logo {
			width: 168px;
			height: 41px;
			background: url('/img/user/640/logo.png') no-repeat center;
		}
		
		.icon {
			width: 26px;
			height: 26px;
			background: url('/img/user/640/social.png') no-repeat;
			
			&.fb {
				margin-left: 10px;
			}
			
			&.vk {
				background-position: -27px 0;
			}
		}
		
		#fixed_topper {
			height: 60px;
			
			button {
				@include border_radius(0);
				height: 100%;
				font-size: 14px;
				line-height: 14px;
				padding: 0 22px;
			}
			
			.content {
				width: 100%;
			}
			
			.adorable_cell {
				padding: 0 0 0 30px;
			}
			
			.fever {
				display: none;
			}
		}
		
		.content {
			width: $tiny_min_width;
			padding: 0 20px;
		}
		
		.instruction_top_container {
			.know_logo {
				left: 20px;
			}
			
			.contacts {
				right: 20px;
			}
			
			.icons {
				height: auto;
			}
		}
	}
	
	&.small {
		min-width: $small_min_width;
		font-size: 16px;
		
		.logo {
			width: 168px;
			height: 41px;
			background: url('/img/user/640/logo.png') no-repeat center;
		}
		
		.icon {
			width: 26px;
			height: 26px;
			background: url('/img/user/640/social.png') no-repeat;
			
			&.fb {
				margin-left: 10px;
			}
			
			&.vk {
				background-position: -27px 0;
			}
		}
		
		#fixed_topper {
			height: 60px;
			
			button {
				@include border_radius(0);
				height: 100%;
				font-size: 16px;
				line-height: 16px;
			}
			
			.content {
				width: 100%;
			}
			
			.adorable_cell {
				padding: 0 0 0 30px;
			}
			
			.fever {
				font-size: 14px;
				line-height: 14px;
			}
		}
		
		.content {
			width: $small_min_width;
		}
		
		.instruction_top_container {
			.icons {
				height: auto;
			}
		}
	}
	
	button {
		@include border_radius(0);
		opacity: 0.9;
		vertical-align: top;
		height: 100%;
		font-size: 18px;
		line-height: 18px;
		
		&:hover {
			opacity: 0.8;
		}
		
		&:active {
			opacity: 1;
		}
		
		&.advices {
			background-color: white;
			color: #4d4d4d;
			padding: 0 38px;
			border-left: 1px solid #cccccc;
		}
		
		&.sopelka {
			background-color: #2e6fb1;
			color: white;
			padding: 0 22px;
		}
	}
	
	.logo {
		@include box_shadow(0 0 0 rgba(0, 0, 0, 0));
		width: 210px;
		height: 51px;
		background: url('/img/user/1280/logo.png') no-repeat center;
		outline: none;
		
		&:hover {
			opacity: 0.9;
		}
	}
	
	.icons {
		position: absolute;
		height: 100%;
		right: 0;
		text-align: right;
	}
	
	.icon {
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		background: url('/img/user/1280/social.png') no-repeat;
		cursor: pointer;
		opacity: 0.15;
		
		&.fb {
			margin-left: 39px;
			
			&:hover, &:active {
				background-position: 0 -31px;
			}
		}
		
		&.vk {
			background-position: -31px 0;
			margin-left: 10px;
			
			&:hover, &:active {
				background-position: -31px -31px;
			}
		}
		
		&:hover {
			opacity: 0.9;
		}
		
		&:active {
			opacity: 1;
		}
	}
	
	#fixed_topper {
		@include transition(background-color 0.3s ease-in-out);
		@include box_shadow(0px 4px 8px 0px rgba(0, 0, 0, 0.12));
		width: 100%;
		max-width: $big_max_width;
		position: fixed;
		z-index: 5;
		height: 90px;
		top: 0px;
		background-color: rgba(255, 255, 255, 0.2);
		
		&.scrolled {
			background-color: white;
			
			.fever {
				color: #595959;
			}
		}
		
		.adorable_cell {
			text-align: left;
		}
		
		.logo {
			display: inline-block;
			vertical-align: middle;
		}
		
		.icons {
			top: 0;
			bottom: 0;
			margin: auto;
		}
		
		.fever {
			@include transition(color 0.3s ease-in-out);
			vertical-align: middle;
			color: transparent;
			font-family: 'PT_Sans_Italic';
			margin-left: 18px;
		}
	}
	
	.content {
		@include border_boxed;
		margin: 0 auto;
		width: 960px;
		position: relative;
		height: 100%;
	}
	
	.instruction_top_container {
		@include box_shadow(0px 4px 8px 0px rgba(0, 0, 0, 0.12));
		height: 135px;
		background-color: white;
		position: relative;
		z-index: 1;
		
		&.active {
			.arrow {
				background-position: -13px 0;
			}
		}
		
		.know_logo {
			@include box_shadow(0 0 0 rgba(0, 0, 0, 0));
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 145px;
			height: 40px;
			background: url('/img/user/640/know_logo.png') no-repeat;
			outline: none;
			
			&:hover {
				opacity: 0.9;
			}
		}
		
		.instruction {
			font-size: 36px;
			line-height: 36px;
			text-transform: uppercase;
			font-family: 'Neucha';
		}
		
		.instruction_title {
			cursor: pointer;
		}
		
		.arrow {
			@include absolute_horizontal_centered;
			width: 12px;
			height: 6px;
			background: url('/img/user/arrow.png') no-repeat;
			bottom: 19px;
		}
		
		.contacts {
			position: absolute;
			height: 100%;
			right: 0;
			top: 0;
			font-size: 14px;
			font-family: 'Roboto_Medium';
			
			.adorable_cell {
				text-align: right;
			}
		}
		
		.icons {
			@include my_inline_block;
			position: relative;
		}
		
		.text {
			display: inline-block;
			vertical-align: middle;
			color: $darkblue;
			font-size: 14px;
			font-family: 'PT_Sans_Regular';
		}
	}
	
	.warning_container {
		background-color: white;
		position: relative;
		
		&.big {
			img {
				display: none;
			}
		}
		
		&.small {
			
		}
		
		img {
			max-width: 100%;
			height: 15%;
		}
	}
}

.module {
	display: none;

	&.active {
		display: block;
	}
}

.healthWarning {

	.img {
		width: 100%;
	}

}