@charset "UTF-8";
@import '../dynamic/dynamic';

#main_container.small {
	.module.advices {
		.topper_container_1 {
			height: 535px;
		}
		
		.topper_container_2 {
			height: 285px;
		}
		
		.notes_container {
			height: 285px;
		}
		
		.help_container_1 {
			height: 765px;
		}
	}
}

.module.advices {
	.topper_container {
		@include border_boxed;
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'Neucha';
			color: white;
			margin-top: 35px;
		}
		
		.bottom_label {
			margin-top: 20px;
			line-height: 30px;
		}
		
		.how_to_help {
			@include rounded;
			@include transition(background-color 0.3s ease-in-out);
			background: url('/img/user/1280/dashed_button.png') no-repeat;
			position: absolute;
			height: 40px;
			bottom: -20px;
			left: 0;
			width: 210px;
			z-index: 1;
			background-color: transparent;
			
			&.active {
				background-image: none;
				background-color: white;
				
				&:before {
					background-position: -13px 0;
				}
				
				button {
					color: $darkblue;
				}
			}
			
			/*
			&:before {
				@include pseudo;
				top: 19px;
				left: 9px;
				width: 12px;
				height: 6px;
				background: url('/img/user/advices/arrow.png') no-repeat;
			}
			*/
			
			button {
				@include border_boxed;
				@include rounded;
				width: 100%;
				height: 100%;
				color: white;
				background-color: transparent;
				padding: 0;
				font-size: 16px;
				padding: 0 0 0 30px;
				position: relative;
				z-index: 1;
				padding: 0 25px;
				
				&:hover, &:active {
					color: $darkblue;
					background-image: none;
					background-color: white;
				}
			}
		}
	}
	
	.topper_container_1 {
		height: 472px;
		
		.content {
			padding: 84px 0 0;
		}
	}
	
	.help_container {
		@include transition(background-color 0.3s ease-in-out);
		background-color: transparent;
		
		&.active {
			background-color: white;
		}
		
		.content {
			padding: 1px 0 28px;
		}
		
		.help_item {
			display: table;
			height: 102px;
			font-family: 'Roboto_Light';
			margin: 40px 0 0;
		}
		
		.image_content {
			display: table-cell;
			vertical-align: top;
			width: 126px;
			height: 100%;
			
			.img {
				height: 100%;	
			}
			
			.glass {
				width: 102px;
				background: url('/img/user/advices/1280/glass.png') no-repeat;
			}
			
			.hand {
				width: 102px;
				background: url('/img/user/advices/1280/hand.png') no-repeat;
			}
			
			.window {
				width: 102px;
				background: url('/img/user/advices/1280/window.png') no-repeat;
			}
			
			.shirt {
				width: 101px;
				background: url('/img/user/advices/1280/shirt.png') no-repeat;
			}
			
			.towel {
				width: 103px;
				background: url('/img/user/advices/1280/towel.png') no-repeat;
			}
			
			.pill {
				width: 103px;
				background: url('/img/user/advices/1280/pill.png') no-repeat left;
			}
		}
		
		.text {
			display: table-cell;
			vertical-align: top;
		}
		
		.top_label {
			font-size: 24px;
			line-height: 24px;
			color: $lightblue;
		}
		
		.bottom_label {
			margin-top: 2px;
			line-height: 20px;
		}
	}
	
	.help_container_1 {
		height: 745px;
	}
	
	.topper_container_2 {
		height: 255px;
		
		.content {
			padding: 17px 0 0;
		}
	}
	
	.help_container_2 {
		height: 315px;
	}
	
	.notes_container {
		height: 232px;
		font-size: 12px;
		font-family: 'Roboto_Light';
		
		.content {
			padding: 52px 0 0;
		}
	}
}