@charset "UTF-8";
@import '../dynamic/dynamic';

@mixin blue_bubbles {
	@include pseudo;
	height: 25px;
	width: 100%;
	left: 0;
	background: url('/img/user/1280/blue_bubbles.png') no-repeat center;
	z-index: 1;
}

@mixin blue_bubbles_small {
	@include blue_bubbles;
	height: 17px;
	background: url('/img/user/640/blue_bubbles.png') no-repeat center;
}

#main_container.small {
	.module.main {
		button {
			height: 26px;
			padding: 0 30px;
			font-size: 12px;
		}
		
		.topper_container {
			height: 491px;
			background: url('/img/user/640/bed.jpg') no-repeat center;
			
			&:after {
				height: 17px;
				bottom: -8px;
				background: url('/img/user/640/white_bubbles.png') no-repeat center;
			}
			
			.pack {
				width: 202px;
				height: 251px;
				bottom: 0;
				left: -31px;
				background: url('/img/user/640/pack.png') no-repeat;
			}
			
			.text {
				width: 390px;
				height: 235px;
				padding: 57px 0 0 19px;
			}
			
			.top_label {
				font-size: 31px;
				line-height: 31px;
			}
			
			.bottom_label {
				font-size: 18px;
				line-height: 18px;
			}
			
			.buy {
				height: 54px;
			}
			
			.marker {
				width: 36px;
				height: 36px;
				background: url('/img/user/640/marker.png') no-repeat;
			}
			
			.buy_label {
				margin-left: 11px;
				font-size: 15px;
			}
			
			.note {
				right: -55px;
				top: -225px;
				width: 225px;
				height: 70px;
			}
		}
		
		.video_container {
			height: 490px;
			
			&:before {
				background: url('/img/user/640/sky.png') no-repeat center;
			}
			
			.player {
				width: 560px;
				height: 323px;
				top: 50px;
				
				&:before {
					height: 31px;
					bottom: -15px;
					background: url('/img/user/640/player_shadow.png') no-repeat center;
				}
			}
			
			.know_more {
				bottom: 87px;
			}
		}
		
		.dragon_container {
			height: 1667px;
			
			&:before {
				@include blue_bubbles_small;
				top: -8px;
			}
			
			&:after {
				@include blue_bubbles_small;
				bottom: -8px;
			}
			
			.dragon_content {
				&:before {
					width: 566px;
					height: 1365px;
					top: -74px;
					left: -14px;
					background: url('/img/user/640/line.png') no-repeat;
				}
			}
			
			.dragon_1 {
				width: 550px;
				height: 337px;
				top: -25px;
				right: 30px;
				background: url('/img/user/640/dragon_1.png') no-repeat;
			}
			
			.dragon_2 {
				width: 354px;
				height: 380px;
				top: 467px;
				left: 93px;
				background: url('/img/user/640/dragon_2.png') no-repeat;
			}
			
			.dragon_3 {
				width: 296px;
				height: 275px;
				top: 995px;
				right: 139px;
				background: url('/img/user/640/dragon_3.png') no-repeat;
			}
			
			.topper {
				height: 60px;
				top: 65px;
			}
			
			.logo {
				width: 104px;
				height: 34px;
				background: url('/img/user/640/logo_2.png') no-repeat;
			}
			
			.dragon_text_1 {
				top: 293px;
				width: 100%;
			}
			
			.dragon_text_2 {
				top: 870px;
				width: 100%;
			}
			
			.dragon_text_3 {
				top: 1300px;
				width: 100%;
			}
			
			.dragon_top_label {
				font-size: 31px;
				line-height: 31px;
				text-align: center;
			}
			
			.dragon_bottom_label {
				margin-top: 17px;
				line-height: 25px;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		
		.safety_container {
			height: 490px;
			background: url('/img/user/640/safety.jpg') no-repeat center;
			
			.safety_text {
				padding: 0 5px 0 0;
			}
			
			.top_label {
				font-size: 31px;
				line-height: 31px;
			}
			
			.bottom_label {
				margin-top: 20px;
				line-height: 23px;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		
		.europe_container {
			height: 490px;
			
			&:before {
				@include blue_bubbles_small;
				top: -8px;
			}
			
			.content {
				&:after {
					width: 242px;
					height: 244px;
					background: url('/img/user/640/euro.png') no-repeat;
					top: 124px;
				}
			}
			
			.europe_text {
				top: 107px;
				padding: 0;
				width: 51%;
			}
			
			.top_label {
				font-size: 31px;
				line-height: 31px;
			}
			
			.bottom_label {
				@include border_boxed;
				margin-top: 20px;
				line-height: 25px;
				padding: 0 5px 0 0;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		
		.map_container {
			height: 410px;
			
			.title {
				height: 86px;
				font-size: 31px;
				line-height: 35px;
				
				.adorable_cell {
					padding: 0;
				}
				
				.r {
					font-size: 14px;
					line-height: 10px;
				}
			}
			
			#map {
				height: 324px;
				
				&:before {
					height: 8px;
					background: url('/img/user/640/map_arc.png') no-repeat center;
				}
			}
		}
		
		.know_container {
			height: 87px;
			
			.cost {
				height: 28px;
				padding: 0 19px;
				font-size: 13px;
			}
		}
		
		.instruction_container {
			background-color: $blue;
			
			.content {
				padding: 29px 0px 45px;
			}
			
			.slide_up {
				height: 26px;
				border: 1px solid white;
				padding: 0 35px;
				font-size: 13px;
				color: $buttonblue;
				margin-top: 45px;
				background-color: #c0daef;
			}
		}
	}
}

.module.main {
	.topper_container {
		height: 852px;
		background: url('/img/user/1280/bed.jpg') no-repeat center;
		position: relative;
		
		&:after {
			@include pseudo;
			height: 27px;
			width: 100%;
			bottom: -13px;
			left: 0;
			background: url('/img/user/1280/white_bubbles.png') no-repeat center;
			z-index: 1;
		}
		
		.content {
			overflow: hidden;
		}
		
		.pack {
			position: absolute;
			width: 340px;
			height: 422px;
			bottom: 0;
			left: -51px;
			background: url('/img/user/1280/pack.png') no-repeat;
		}
		
		.text {
			@include border_boxed;
			position: absolute;
			width: 480px;
			height: 470px;
			right: 0;
			bottom: 0;
			font-family: 'PT_Sans_Caption';
			color: white;
			padding: 212px 0 0 0;
		}
		
		.top_label {
			font-size: 35px;
			line-height: 40px;
			font-family: 'PT_Sans_Bold';
			text-transform: uppercase;
		}
		
		.bottom_label {
			font-size: 24px;
			line-height: 24px;
			margin-top: 15px;
			font-family: 'PT_Sans_Regular';
		}
		
		.buy {
			height: 90px;
			width: 170px;
			position: absolute;
			bottom: 0;
			right: 0;
			color: $black;
			cursor: pointer;
			
			.adorable_cell {
				text-align: right;
			}
			
			img, span {
				vertical-align: middle;
			}
		}
		
		.marker {
			display: inline-block;
			vertical-align: middle;
			width: 42px;
			height: 42px;
			background: url('/img/user/1280/marker.png') no-repeat;
		}
		
		.buy_label {
			text-transform: uppercase;
			font-family: 'Roboto_Black';
			border-bottom: 2px dotted $black;
			margin-left: 9px;
		}
		
		.note {
			width: 546px;
			height: 70px;
			position: absolute;
			right: -337px;
			top: -70px;
			bottom: 0;
			margin: auto;
			font-size: 12px;
			font-family: 'Roboto_Light';
			color: white;
			
			.note_text {
				@include transform(rotate(-90deg));
			}
		}
	}
	
	.video_container {
		height: 761px;
		position: relative;
		background-color: $blue;
		
		&:before {
			@include pseudo;
			width: 100%;
			height: 100%;
			background: url('/img/user/1280/sky.png') no-repeat center;
			opacity: 0.58;
		}
		
		.player {
			@include absolute_horizontal_centered;
			@include border_boxed;
			width: 825px;
			height: 472px;
			top: 100px;
			
			&:before {
				@include pseudo;
				width: 100%;
				height: 45px;
				bottom: -22px;
				background: url('/img/user/1280/player_shadow.png') no-repeat center;
			}
		}
		
		.vimeo {
			position: relative;
			border: 2px solid white;
			z-index: 1;
		}
		
		.know_more {
			position: absolute;
			bottom: 125px;
			width: 100%;
			left: 0;
			text-align: center;
			font-family: 'PT_Sans_Bold';
			color: white;
			font-size: 18px;
			line-height: 18px;
			text-transform: uppercase;
		}
	}
	
	.dragon_container {
		height: 2331px;
		position: relative;
		
		&:before {
			@include blue_bubbles;
			top: -12px;
		}
		
		&:after {
			@include blue_bubbles;
			bottom: -12px;
		}
		
		.dragon_content {
			&:before {
				@include pseudo;
				width: 659px;
				height: 2159px;
				top: -93px;
				left: 100px;
				background: url('/img/user/1280/line.png') no-repeat;
				z-index: 1;
			}
		}
		
		.dragon_1 {
			position: absolute;
			width: 620px;
			height: 521px;
			top: 177px;
			right: -70px;
			background: url('/img/user/1280/dragon_1.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_2 {
			position: absolute;
			width: 480px;
			height: 640px;
			top: 749px;
			left: 14px;
			background: url('/img/user/1280/dragon_2.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_3 {
			position: absolute;
			width: 480px;
			height: 521px;
			top: 1465px;
			right: 0px;
			background: url('/img/user/1280/dragon_3.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_text {
			@include border_boxed;
			position: absolute;
			z-index: 3;
			height: auto;
		}
		
		.dragon_text_1 {
			top: 298px;
			left: 0;
			
			.dragon_top_label {
				padding: 0 35px 0 0;
			}
		}
		
		.dragon_text_2 {
			top: 955px;
			right: 0;
		}
		
		.dragon_text_3 {
			top: 1606px;
			left: 0;
			
			.dragon_bottom_label {
				padding: 0 70px 0 0;
			}
		}
		
		.dragon_top_label {
			font-family: 'Neucha';
			font-size: 36px;
			line-height: 40px;
			color: white;
			letter-spacing: 1.5px;
		}
		
		.dragon_bottom_label {
			margin-top: 20px;
			line-height: 30px;
			font-family: 'PT_Sans_Regular';
			font-size: 20px;
			color: #295266;
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
		
		.notes {
			position: absolute;
			width: 100%;
			height: 270px;
			bottom: 0;
			left: 0;
			font-size: 10px;
			font-family: 'PT_Sans_Regular';
			color: white;
			line-height: 16px;
			
			.adorable_cell {
				text-align: left;
			}
			
			.r {
				font-size: 9px;
				line-height: 9px;
				vertical-align: top;
				font-family: 'Roboto_Medium';
			}
		}
	}
	
	.safety_container {
		height: 762px;
		background: url('/img/user/1280/safety.jpg') no-repeat center;
		
		.safety_text {
			@include border_boxed;
			height: 100%;
			padding: 0 40px 0 0;
			
			.adorable_cell {
				text-align: left;
			}
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'Neucha';
			color: #175fa9;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		
		.bottom_label {
			margin-top: 25px;
			line-height: 30px;
			color: #4c4c4c;
			font-family: 'PT_Sans_Regular';
			font-size: 20px;
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
	}
	
	.europe_container {
		height: 772px;
		position: relative;
		
		&:before {
			@include blue_bubbles;
			top: -12px;
		}
		
		.content {
			&:after {
				@include pseudo;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 389px;
				height: 393px;
				background: url('/img/user/1280/euro.png') no-repeat;
				left: 0;
			}
		}
		
		.europe_text {
			@include border_boxed;
			float: right;
			
			.adorable_cell {
				text-align: left;
			}
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'Neucha';
			color: white;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		
		.bottom_label {
			margin-top: 45px;
			line-height: 30px;
			color: #295266;
			font-size: 20px;
			font-family: 'PT_Sans_Regular';
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
		
		.note {
			position: absolute;
			right: 0;
			bottom: 62px;
			height: auto;
			width: 50%;
			font-size: 10px;
			font-family: 'PT_Sans_Regular';
			color: white;
		}
	}
	
	.map_container {
		background-color: $darkblue;
		
		.title {
			height: 90px;
			background-color: $darkblue;
			font-size: 24px;
			line-height: 24px;
			color: white;
			text-transform: uppercase;
			font-family: 'PT_Sans_Bold';
			
			.r {
				font-size: 18px;
				line-height: 25px;
				vertical-align: top;
			}
		}
		
		#map {
			height: 670px;
			position: relative;
			
			&:before {
				@include pseudo;
				height: 46px;
				width: 100%;
				background: url('/img/user/1280/blue_arc.png') no-repeat center;
				top: -1px;
				left: 0;
				z-index: 1;
			}
		}
	}
	
	.know_container {
		height: 90px;
		background-color: $blue;
		color: #4d91ca;
		
		button {
			height: 40px;
			padding: 0 25px;
			font-size: 16px;
			font-family: 'PT_Sans_Bold';
			width: 210px;
		}
		
		.cost {
			color: $darkblue;
		}
		
		.instruction {
			color: white;
			background-color: transparent;
			border: 2px solid #9db7d8;
			margin-left: 29px;
		}
	}
	
	.instruction_container {
		background-color: $blue;
		
		.content {
			@include border_boxed;
			padding: 47px 50px;
		}
		
		.item {
			@include border_radius(5px);
			border: 1px solid #abcae5;
			padding: 8px 50px;
			text-align: left;
			color: white;
			font-size: 14px;
			position: relative;
			margin-top: 7px;
			
			&.active {
				.arrow {
					background-position: -13px 0;
				}
				
				.title {
					color: white;
				}
			}
		}
		
		.arrow {
			position: absolute;
			width: 12px;
			height: 6px;
			background: url('/img/user/item_arrow.png') no-repeat;
			top: 16px;
			left: 17px;
			cursor: pointer;
		}
		
		.title {
			@include transition(color 0.3s ease-in-out);
			color: #d3e3f1;
			font-family: 'Roboto_Bold';
			
			span {
				cursor: pointer;
			}
		}
		
		.text {
			color: #fffefe;
			font-family: 'Roboto_Light';
			margin-top: 25px;
			margin-bottom: 4px;
		}
		
		.slide_up {
			height: 44px;
			padding: 0 30px;
			font-size: 20px;
			color: $buttonblue;
			margin-top: 45px;
		}
	}
}