@charset "UTF-8";
@import '../dynamic/dynamic';

#main_container.mini {
	.module.main {
		.content {
			padding: 0 20px;
		}
		
		.topper_container {
			min-height: 420px;
			max-height: 420px;
			background: url('/img/user/320/bed.jpg') no-repeat center bottom;
			
			&:after {
				@include white_bubbles_small;
			}
			
			.content {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
			
			.pack {
				width: 150px;
				height: 181px;
				bottom: 16px;
				left: 0px;
				background: url('/img/user/320/pack.png') no-repeat;
			}
			
			.text {
				width: 160px;
				height: 146px;
				padding: 0;
			}
			
			.top_label {
				@include border_boxed;
				font-size: 16px;
				line-height: 18px;
				padding: 0 5px 0 0;
			}
			
			.bottom_label {
				@include border_boxed;
				font-size: 12px;
				line-height: 12px;
				margin-top: 9px;
				padding: 0 15px 0 0;
			}
			
			.buy {
				height: 36px;
				right: 20px;
			}
			
			.buy_label {
				font-size: 12px;
			}
			
			.note_content {
				height: 50%;
				z-index: 1;
			}
			
			.note {
				@include absolute_horizontal_centered;
				top: 52px;
				width: 280px;
				height: auto;
				letter-spacing: 0.1px;
				font-size: 8px;
				
				.note_text {
					transform: none;
				}
			}
		}
		
		.video_container {
			height: 420px;
			
			&:before {
				background: url('/img/user/320/sky.png') no-repeat right center;
			}
			
			.player {
				width: 288px;
				height: 175px;
				top: 70px;
				
				&:before {
					height: 11px;
					bottom: -9px;
					background: url('/img/user/320/player_shadow.png') no-repeat center;
				}
			}
			
			.know_more {
				bottom: 127px;
			}
		}
		
		.dragon_container {
			height: 1440px;
			
			&:before {
				@include blue_bubbles_top_small;
			}
			
			&:after {
				@include blue_bubbles_bottom_small;
			}
			
			.dragon_content {
				&:before {
					width: 282px;
					height: 1159px;
					top: -105px;
					left: 18px;
					background: url('/img/user/320/line.png') no-repeat;
				}
			}
			
			.dragon_1 {
				width: 320px;
				height: 261px;
				top: 0;
				right: 0;
				background: url('/img/user/320/dragon_1.png') no-repeat;
			}
			
			.dragon_2 {
				width: 320px;
				height: 261px;
				top: 420px;
				left: 0;
				background: url('/img/user/320/dragon_2.png') no-repeat;
			}
			
			.dragon_3 {
				width: 320px;
				height: 261px;
				top: 841px;
				left: 0;
				right: auto;
				background: url('/img/user/320/dragon_3.png') no-repeat;
			}
			
			.dragon_text {
				padding: 0 20px;
			}
			
			.dragon_text_1 {
				top: 241px;
				width: 100%;
				
				.dragon_top_label {
					padding: 0 80px 0 0;
				}
			}
			
			.dragon_text_2 {
				top: 691px;
				width: 100%;
			}
			
			.dragon_text_3 {
				top: 1070px;
				width: 100%;
				
				.dragon_bottom_label {
					padding: 0;
				}
			}
			
			.dragon_top_label {
				font-size: 22px;
				letter-spacing: 0px;
				line-height: 24px;
				text-align: left;
			}
			
			.dragon_bottom_label {
				margin-top: 15px;
				line-height: 18px;
				font-size: 14px;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
			
			.notes {
				@include border_boxed;
				height: 210px;
				line-height: 12px;
				padding: 0 20px;
				
				.adorable_cell {
					vertical-align: top;
				}
			}
		}
		
		.safety_container {
			height: 420px;
			background: url('/img/user/320/safety.jpg') no-repeat center;
			
			.top_label {
				font-size: 22px;
				line-height: 24px;
			}
			
			.bottom_label {
				font-size: 14px;
				line-height: 16px;
				
				.r {
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
		
		.europe_container {
			height: 420px;
			
			&:before {
				@include blue_bubbles_top_small;
			}
			
			.content {
				&:after {
					width: 135px;
					height: 272px;
					background: url('/img/user/320/euro.png') no-repeat;
					left: 0;
				}
			}
			
			.top_label {
				font-size: 22px;
				line-height: 24px;
			}
			
			.bottom_label {
				color: #4c4c4c;
				margin-top: 24px;
				font-size: 14px;
				line-height: 16px;
				
				.r {
					font-size: 12px;
					line-height: 14px;
				}
			}
			
			.note {
				@include border_boxed;
				bottom: 33px;
				left: 0;
				width: 100%;
				padding: 0 20px;
				line-height: 12px;
			}
		}
		
		.map_container {
			height: 420px;
			
			.title {
				height: 43px;
				font-size: 14px;
				line-height: 16px;
				
				.adorable_cell {
					padding: 0 25px;
				}
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
			
			#map {
				height: 377px;
			}
		}
		
		.know_container {
			height: 45px;
			
			.instruction {
				@include border_radius(0);
				font-size: 14px;
				height: 100%;
				width: 100%;
				background: #2969ab;
				color: $white;
			}
		}
		
		.instruction_container {
			background-color: $blue;
			
			.content {
				padding: 29px 0px 45px;
			}
			
			.slide_up {
				height: 26px;
				border: 1px solid white;
				padding: 0 35px;
				font-size: 13px;
				color: $buttonblue;
				margin-top: 45px;
				background-color: #c0daef;
			}
		}
	}
}

#main_container.small {
	.module.main {
		.topper_container {
			min-height: 570px;
			max-height: 700px;
			height: auto;
			
			&:after {
				@include white_bubbles_small;
			}
			
			.content {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
			
			.pack {
				width: 343px;
				height: 414px;
				bottom: 0;
				left: -20px;
				background: url('/img/user/640/pack.png') no-repeat;
			}
			
			.text {
				width: 354px;
				height: 240px;
				padding: 0;
			}
			
			.top_label {
				font-size: 26px;
				line-height: 30px;
			}
			
			.bottom_label {
				font-size: 18px;
				line-height: 18px;
			}
			
			.buy {
				margin: 0;
				left: auto;
			}
			
			.buy_label {
				font-size: 18px;
			}
			
			.note_content {
				height: 50%;
				z-index: 1;
			}
			
			.note {
				@include absolute_horizontal_centered;
				top: 100px;
				width: $small_min_width;
				height: auto;
				letter-spacing: -0.2px;
				
				.note_text {
					transform: none;
				}
			}
		}
		
		.video_container {
			height: 700px;
			
			&:before {
				background: url('/img/user/640/sky.png') no-repeat right center;
			}
			
			.player {
				width: 710px;
				height: 400px;
				top: 80px;
				
				&:before {
					height: 28px;
					bottom: -15px;
					background: url('/img/user/640/player_shadow.png') no-repeat center;
				}
			}
			
			.know_more {
				bottom: 143px;
			}
		}
		
		.dragon_container {
			height: 2258px;
			
			&:before {
				@include blue_bubbles_top_small;
			}
			
			&:after {
				@include blue_bubbles_bottom_small;
			}
			
			.dragon_content {
				&:before {
					width: 625px;
					height: 1909px;
					top: -111px;
					left: 40px;
					background: url('/img/user/640/line.png') no-repeat;
				}
			}
			
			.dragon_1 {
				width: 558px;
				height: 480px;
				top: 0;
				right: 74px;
				background: url('/img/user/640/dragon_1.png') no-repeat;
			}
			
			.dragon_2 {
				width: 480px;
				height: 480px;
				top: 698px;
				left: 113px;
				background: url('/img/user/640/dragon_2.png') no-repeat;
			}
			
			.dragon_3 {
				width: 480px;
				height: 480px;
				top: 1398px;
				left: 113px;
				right: auto;
				background: url('/img/user/640/dragon_3.png') no-repeat;
			}
			
			.dragon_text_1 {
				top: 496px;
				width: 100%;
			}
			
			.dragon_text_2 {
				top: 1198px;
				width: 100%;
			}
			
			.dragon_text_3 {
				top: 1900px;
				width: 100%;
			}
			
			.dragon_top_label {
				text-align: left;
			}
			
			.dragon_bottom_label {
				margin-top: 17px;
				line-height: 30px;
				font-size: 20px;
				padding: 0 50px 0 0;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
			
			.notes {
				height: 160px;
				line-height: 14px;
				
				.adorable_cell {
					vertical-align: top;
				}
			}
		}
		
		.safety_container {
			height: 700px;
		}
		
		.europe_container {
			height: 700px;
			
			&:before {
				@include blue_bubbles_top_small;
			}
			
			.content {
				overflow: hidden;
				
				&:after {
					width: 227px;
					height: 393px;
					background: url('/img/user/640/euro.png') no-repeat;
					left: -30px;
				}
			}
		}
		
		.map_container {
			height: 700px;
			
			.title {
				font-size: 24px;
				line-height: 30px;
				
				.adorable_cell {
					padding: 0 25px;
				}
				
				.r {
					font-size: 16px;
					line-height: 14px;
				}
			}
			
			#map {
				height: 610px;
			}
		}
		
		.instruction_container {
			background-color: $blue;
			
			.content {
				padding: 29px 0px 45px;
			}
			
			.slide_up {
				height: 26px;
				border: 1px solid white;
				padding: 0 35px;
				font-size: 13px;
				color: $buttonblue;
				margin-top: 45px;
				background-color: #c0daef;
			}
		}
	}
}

#main_container.huge {
	.module.main {		
		.topper_container {
			max-height: 852px;
			background: url('/img/user/1360/bed.jpg') no-repeat center bottom;
			
			.text {
				padding: 230px 0 0 0;
			}
			
			.top_label {
				font-size: 35px;
				line-height: 40px;
			}
			
			.bottom_label {
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
}

.module.main {
	.topper_container {
		min-height: 630px;
		max-height: 693px;
		height: 693px;
		background: url('/img/user/1280/bed.jpg') no-repeat center bottom;
		position: relative;
		
		&:after {
			@include pseudo;
			height: 27px;
			width: 100%;
			bottom: -13px;
			left: 0;
			background: url('/img/user/1280/white_bubbles.png') no-repeat center;
			z-index: 1;
		}
		
		.note_content {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
		}
		
		.pack {
			position: absolute;
			width: 340px;
			height: 422px;
			bottom: 0;
			left: -51px;
			background: url('/img/user/1280/pack.png') no-repeat;
		}
		
		.text {
			@include border_boxed;
			position: absolute;
			width: 480px;
			height: 470px;
			right: 0;
			bottom: 0;
			font-family: 'PT_Sans_Caption';
			color: white;
			padding: 260px 0 0 0;
		}
		
		.top_label {
			font-size: 25px;
			line-height: 28px;
			font-family: 'PT_Sans_Bold';
			text-transform: uppercase;
		}
		
		.bottom_label {
			font-size: 17px;
			line-height: 17px;
			margin-top: 15px;
			font-family: 'PT_Sans_Regular';
		}
		
		.buy {
			height: 90px;
			width: 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			color: $black;
			cursor: pointer;
			opacity: 0.9;
			margin: auto;
			left: 0;
			
			&:hover {
				opacity: 0.8;
			}
			
			&:active {
				opacity: 1;
			}
			
			.adorable_cell {
				text-align: right;
			}
			
			img, span {
				vertical-align: middle;
			}
		}
		
		.marker {
			display: inline-block;
			vertical-align: middle;
			width: 26px;
			height: 26px;
			background: url('/img/user/320/marker.png') no-repeat;
		}
		
		.buy_label {
			text-transform: uppercase;
			font-family: 'Roboto_Black';
			border-bottom: 2px dotted $black;
			margin-left: 9px;
		}
		
		.note {
			width: 410px;
			height: 70px;
			position: absolute;
			right: -160px;
			top: -70px;
			bottom: 0;
			margin: auto;
			font-size: 10px;
			font-family: 'PT_Sans_Regular';
			color: white;
			
			.note_text {
				@include transform(rotate(-90deg));
			}
		}
	}
	
	.video_container {
		height: 761px;
		position: relative;
		background-color: $blue;
		
		&:before {
			@include pseudo;
			width: 100%;
			height: 100%;
			background: url('/img/user/1280/sky.png') no-repeat center;
			opacity: 0.58;
		}
		
		.player {
			@include absolute_horizontal_centered;
			@include border_boxed;
			width: 825px;
			height: 484px;
			top: 100px;
			
			&:before {
				@include pseudo;
				width: 100%;
				height: 45px;
				bottom: -22px;
				background: url('/img/user/1280/player_shadow.png') no-repeat center;
			}
		}
		
		.vimeo {
			position: relative;
			border: 2px solid white;
			z-index: 1;
		}
		
		.know_more {
			position: absolute;
			bottom: 125px;
			width: 100%;
			left: 0;
			text-align: center;
			font-family: 'PT_Sans_Bold';
			color: white;
			font-size: 18px;
			line-height: 18px;
			text-transform: uppercase;
		}
	}
	
	.dragon_container {
		height: 2331px;
		position: relative;
		
		&:before {
			@include blue_bubbles;
			top: -8px;
		}
		
		&:after {
			@include blue_bubbles;
			bottom: -8px;
		}
		
		.dragon_content {
			&:before {
				@include pseudo;
				width: 659px;
				height: 2159px;
				top: -93px;
				left: 100px;
				background: url('/img/user/1280/line.png') no-repeat;
				z-index: 1;
			}
		}
		
		.dragon_1 {
			position: absolute;
			width: 620px;
			height: 521px;
			top: 177px;
			right: -70px;
			background: url('/img/user/1280/dragon_1.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_2 {
			position: absolute;
			width: 480px;
			height: 640px;
			top: 749px;
			left: 14px;
			background: url('/img/user/1280/dragon_2.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_3 {
			position: absolute;
			width: 480px;
			height: 521px;
			top: 1465px;
			right: 0px;
			background: url('/img/user/1280/dragon_3.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_text {
			@include border_boxed;
			position: absolute;
			z-index: 3;
			height: auto;
		}
		
		.dragon_text_1 {
			top: 298px;
			left: 0;
			
			.dragon_top_label {
				padding: 0 35px 0 0;
			}
		}
		
		.dragon_text_2 {
			top: 955px;
			right: 0;
		}
		
		.dragon_text_3 {
			top: 1606px;
			left: 0;
			
			.dragon_top_label {
				padding: 0 115px 0 0;
			}
			
			.dragon_bottom_label {
				padding: 0 70px 0 0;
			}
		}
		
		.dragon_top_label {
			font-family: 'Neucha';
			font-size: 36px;
			line-height: 40px;
			color: white;
			letter-spacing: 1.5px;
		}
		
		.dragon_bottom_label {
			margin-top: 20px;
			line-height: 30px;
			font-family: 'PT_Sans_Regular';
			font-size: 20px;
			color: #295266;
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
		
		.notes {
			position: absolute;
			width: 100%;
			height: 270px;
			bottom: 0;
			left: 0;
			font-size: 10px;
			font-family: 'PT_Sans_Regular';
			color: white;
			line-height: 16px;
			
			.adorable_cell {
				text-align: left;
			}
			
			.r {
				font-size: 9px;
				line-height: 9px;
				vertical-align: top;
				font-family: 'Roboto_Medium';
			}
		}
	}
	
	.safety_container {
		height: 762px;
		background: url('/img/user/1280/safety.jpg') no-repeat center;
		
		.safety_text {
			@include border_boxed;
			height: 100%;
			padding: 0 40px 0 0;
			
			.adorable_cell {
				text-align: left;
			}
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'Neucha';
			color: #175fa9;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		
		.bottom_label {
			margin-top: 25px;
			line-height: 30px;
			color: #4c4c4c;
			font-family: 'PT_Sans_Regular';
			font-size: 20px;
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
	}
	
	.europe_container {
		height: 772px;
		position: relative;
		
		&:before {
			@include blue_bubbles;
			top: -8px;
		}
		
		.content {
			&:after {
				@include pseudo;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 389px;
				height: 393px;
				background: url('/img/user/1280/euro.png') no-repeat;
				left: 0;
			}
		}
		
		.europe_text {
			@include border_boxed;
			float: right;
			padding: 0 10px 0 0;
			
			.adorable_cell {
				text-align: left;
			}
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'Neucha';
			color: white;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		
		.bottom_label {
			margin-top: 45px;
			line-height: 30px;
			color: #295266;
			font-size: 20px;
			font-family: 'PT_Sans_Regular';
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
		
		.note {
			position: absolute;
			right: 0;
			bottom: 62px;
			height: auto;
			width: 50%;
			font-size: 10px;
			font-family: 'PT_Sans_Regular';
			color: white;
		}
	}
	
	.map_container {
		background-color: $darkblue;
		position: relative;
		
		.title {
			height: 90px;
			background-color: $darkblue;
			font-size: 24px;
			line-height: 24px;
			color: white;
			text-transform: uppercase;
			font-family: 'PT_Sans_Bold';
			
			.r {
				font-size: 18px;
				line-height: 25px;
				vertical-align: top;
			}
		}
		
		#map {
			height: 670px;
			position: relative;
			
			&:before {
				@include pseudo;
				height: 46px;
				width: 100%;
				background: url('/img/user/1280/blue_arc.png') no-repeat center;
				top: -1px;
				left: 0;
				z-index: 1;
			}
		}
		
		.location_container {
			@include absolute_horizontal_centered;
			@include border_radius(4px);
			width: 720px;
			height: 60px;
			top: 140px;
			background-color: white;
			font-family: 'PT_Sans_Regular';
			display: none;
			
			&.active {
				display: block;
			}
			
			.half {
				height: 100%;
			}
			
			.left {
				width: 570px;
			}
			
			.right {
				width: 150px;
				background-color: #2e6fb1;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				
				&:hover {
					background-color: #457fba;
				}
				
				&:active {
					background-color: #175fa9;
				}
			}
		}
		
		.location_input {
			width: 560px;
			margin: 10px 0 3px 10px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		.label {
			font-size: 10px;
			color: #a6a6a6;
			padding: 0 0 0 20px;
		}
		
		.find {
			@include border_radius(0);
			height: 100%;
			width: 100%;
			background-color: transparent;
			color: white;
		}
	}
	
	.know_container {
		height: 90px;
		background-color: $blue;
		color: #4d91ca;
		
		button {
			background: url('/img/user/1280/dashed_button.png') no-repeat;
			background-color: transparent;
			height: 40px;
			padding: 0 25px;
			font-size: 16px;
			font-family: 'PT_Sans_Bold';
			width: 210px;
			color: white;
			
			&:hover, &:active {
				color: $darkblue;
				background-image: none;
				background-color: white;
			}
		}
		
		/*
		
		.instruction {
			margin-left: 29px;
		}
		
		*/
	}
	
	.instruction_container {
		background-color: $blue;
		
		.content {
			@include border_boxed;
			padding: 47px 50px;
		}
		
		.item {
			@include border_radius(5px);
			border: 1px solid #abcae5;
			padding: 13px 50px;
			text-align: left;
			color: white;
			font-size: 14px;
			position: relative;
			margin-top: 7px;
			cursor: pointer;
			
			&.active {
				.arrow {
					background-position: -13px 0;
				}
				
				.title {
					color: white;
				}
			}
		}
		
		.arrow {
			position: absolute;
			width: 12px;
			height: 6px;
			background: url('/img/user/item_arrow.png') no-repeat;
			top: 21px;
			left: 17px;
		}
		
		.title {
			@include transition(color 0.3s ease-in-out);
			color: #d3e3f1;
			font-family: 'Roboto_Bold';
		}
		
		.text {
			color: #fffefe;
			font-family: 'Roboto_Light';
			margin-top: 25px;
			margin-bottom: 4px;
		}
		
		.slide_up {
			height: 40px;
			padding: 0 38px;
			font-size: 16px;
			color: $buttonblue;
			margin-top: 45px;
		}
	}
	
	.fixed_footer {
		position: relative;
		text-align: center;
		
		img {
			max-width: 100%;
			display: block;
			height: 15%;
		}
	}
	
	.up_arrow {
		@include box_shadow(0 0 0 transparent);
		@include border_radius(50px);
		position: fixed;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 111px;
		height: 142px;
		right: 11px;
		background: url('/img/user/up_arrow.png') no-repeat;
		cursor: pointer;
		z-index: 10;
		
		&:hover, &:active {
			background-position: -112px 0;
		}
		
		&:active {
			opacity: 0.8;
		}
	}
}