@charset "UTF-8";
@import '../dynamic/dynamic';

@mixin blue_bubbles {
	@include pseudo;
	height: 25px;
	width: 100%;
	left: 0;
	background: url('/img/user/1280/blue_bubbles.png') no-repeat center;
	z-index: 1;
}

@mixin blue_bubbles_small {
	@include blue_bubbles;
	height: 17px;
	background: url('/img/user/640/blue_bubbles.png') no-repeat center;
}

#main_container.small {
	.module.main {
		.topper_container {
			height: 491px;
			background: url('/img/user/640/bed.jpg') no-repeat center;
			
			&:after {
				height: 17px;
				bottom: -8px;
				background: url('/img/user/640/white_bubbles.png') no-repeat center;
			}
			
			.pack {
				width: 202px;
				height: 251px;
				top: 255px;
				left: -31px;
				background: url('/img/user/640/pack.png') no-repeat;
			}
			
			.text {
				width: 390px;
				height: 235px;
				padding: 57px 0 0 19px;
			}
			
			.top_label {
				font-size: 35px;
				line-height: 35px;
			}
			
			.bottom_label {
				font-size: 18px;
				line-height: 18px;
			}
			
			.buy {
				height: 54px;
			}
			
			.marker {
				width: 36px;
				height: 36px;
				background: url('/img/user/640/marker.png') no-repeat;
			}
			
			.buy_label {
				margin-left: 11px;
				font-size: 15px;
			}
		}
		
		.video_container {
			height: 490px;
			
			&:before {
				background: url('/img/user/640/sky.png') no-repeat center;
			}
			
			.player {
				width: 560px;
				height: 323px;
				top: 50px;
				
				&:before {
					height: 31px;
					bottom: -15px;
					background: url('/img/user/640/player_shadow.png') no-repeat center;
				}
			}
			
			.know_more {
				bottom: 87px;
			}
		}
		
		.dragon_container {
			height: 1667px;
			
			&:before {
				@include blue_bubbles_small;
				top: -8px;
			}
			
			&:after {
				@include blue_bubbles_small;
				bottom: -8px;
			}
			
			.dragon_content {
				&:before {
					width: 566px;
					height: 1365px;
					top: -74px;
					left: -14px;
					background: url('/img/user/640/line.png') no-repeat;
				}
			}
			
			.dragon_1 {
				width: 550px;
				height: 337px;
				top: -25px;
				right: 30px;
				background: url('/img/user/640/dragon_1.png') no-repeat;
			}
			
			.dragon_2 {
				width: 354px;
				height: 380px;
				top: 467px;
				left: 93px;
				background: url('/img/user/640/dragon_2.png') no-repeat;
			}
			
			.dragon_3 {
				width: 296px;
				height: 275px;
				top: 995px;
				right: 139px;
				background: url('/img/user/640/dragon_3.png') no-repeat;
			}
			
			.topper {
				height: 60px;
				top: 65px;
			}
			
			.logo {
				width: 104px;
				height: 34px;
				background: url('/img/user/640/logo_2.png') no-repeat;
			}
			
			.fever {
				font-size: 11px;
				line-height: 11px;
				margin-left: 8px;
			}
			
			.dragon_text_1 {
				top: 293px;
				width: 100%;
			}
			
			.dragon_text_2 {
				top: 870px;
				width: 100%;
			}
			
			.dragon_text_3 {
				top: 1300px;
				width: 100%;
			}
			
			.dragon_top_label {
				font-size: 31px;
				line-height: 31px;
				text-align: center;
			}
			
			.dragon_bottom_label {
				margin-top: 17px;
				line-height: 25px;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		
		.safety_container {
			height: 490px;
			background: url('/img/user/640/safety.jpg') no-repeat center;
			
			.safety_text {
				top: 40px;
				padding: 0 5px 0 0;
			}
			
			.top_label {
				font-size: 31px;
				line-height: 31px;
			}
			
			.bottom_label {
				margin-top: 20px;
				line-height: 23px;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		
		.europe_container {
			height: 490px;
			
			&:before {
				@include blue_bubbles_small;
				top: -8px;
			}
			
			.content {
				&:after {
					width: 242px;
					height: 244px;
					background: url('/img/user/640/euro.png') no-repeat;
					top: 124px;
				}
			}
			
			.europe_text {
				top: 107px;
				padding: 0;
				width: 51%;
			}
			
			.top_label {
				font-size: 31px;
				line-height: 31px;
			}
			
			.bottom_label {
				@include border_boxed;
				margin-top: 20px;
				line-height: 25px;
				padding: 0 5px 0 0;
				
				.r {
					font-size: 12px;
					line-height: 16px;
				}
			}
		}
		
		.map_container {
			height: 410px;
			
			.title {
				height: 86px;
				font-size: 31px;
				line-height: 35px;
				
				.adorable_cell {
					padding: 0;
				}
				
				.r {
					font-size: 14px;
					line-height: 10px;
				}
			}
			
			#map {
				height: 324px;
				
				&:before {
					height: 8px;
					background: url('/img/user/640/map_arc.png') no-repeat center;
				}
			}
		}
		
		.know_container {
			height: 87px;
			
			.cost {
				height: 28px;
				padding: 0 19px;
				font-size: 13px;
			}
		}
	}
}

.module.main {
	.topper_container {
		height: 749px;
		background: url('/img/user/1280/bed.jpg') no-repeat right;
		position: relative;
		
		&:after {
			@include pseudo;
			height: 27px;
			width: 100%;
			bottom: -13px;
			left: 0;
			background: url('/img/user/1280/white_bubbles.png') no-repeat center;
			z-index: 1;
		}
		
		.pack {
			position: absolute;
			width: 340px;
			height: 422px;
			top: 340px;
			left: -51px;
			background: url('/img/user/1280/pack.png') no-repeat;
		}
		
		.text {
			@include border_boxed;
			position: absolute;
			width: 670px;
			height: 410px;
			right: 0;
			bottom: 0;
			font-family: 'PT_Sans_Caption';
			color: white;
			padding: 136px 0 0 165px;
		}
		
		.top_label {
			font-size: 48px;
			line-height: 48px;
		}
		
		.bottom_label {
			font-size: 28px;
			line-height: 28px;
			margin-top: 15px;
		}
		
		.buy {
			height: 68px;
			width: 170px;
			position: absolute;
			bottom: 0;
			right: 0;
			color: $black;
			
			.adorable_cell {
				text-align: right;
			}
			
			img, span {
				vertical-align: middle;
			}
		}
		
		.marker {
			display: inline-block;
			vertical-align: middle;
			width: 42px;
			height: 42px;
			background: url('/img/user/1280/marker.png') no-repeat;
		}
		
		.buy_label {
			text-transform: uppercase;
			font-family: 'Roboto_Black';
			border-bottom: 2px dotted $black;
			margin-left: 9px;
		}
	}
	
	.video_container {
		height: 775px;
		position: relative;
		background-color: $blue;
		
		&:before {
			@include pseudo;
			width: 100%;
			height: 100%;
			background: url('/img/user/1280/sky.png') no-repeat center;
			opacity: 0.58;
		}
		
		.player {
			@include absolute_horizontal_centered;
			width: 825px;
			height: 472px;
			top: 100px;
			
			&:before {
				@include pseudo;
				width: 100%;
				height: 45px;
				bottom: -22px;
				background: url('/img/user/1280/player_shadow.png') no-repeat center;
			}
		}
		
		.vimeo {
			position: relative;
		}
		
		.know_more {
			position: absolute;
			bottom: 137px;
			width: 100%;
			left: 0;
			text-align: center;
			font-family: 'Roboto_Black';
			color: white;
			font-size: 15px;
			line-height: 15px;
			text-transform: uppercase;
		}
	}
	
	.dragon_container {
		height: 1672px;
		position: relative;
		
		&:before {
			@include blue_bubbles;
			top: -12px;
		}
		
		&:after {
			@include blue_bubbles;
			bottom: -12px;
		}
		
		.dragon_content {
			&:before {
				@include pseudo;
				width: 972px;
				height: 1340px;
				top: -118px;
				left: -64px;
				background: url('/img/user/1280/line.png') no-repeat;
				z-index: 1;
			}
		}
		
		.dragon_1 {
			position: absolute;
			width: 657px;
			height: 392px;
			top: 0;
			right: -39px;
			background: url('/img/user/1280/dragon_1.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_2 {
			position: absolute;
			width: 480px;
			height: 514px;
			top: 386px;
			left: -8px;
			background: url('/img/user/1280/dragon_2.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_3 {
			position: absolute;
			width: 444px;
			height: 413px;
			top: 973px;
			right: -7px;
			background: url('/img/user/1280/dragon_3.png') no-repeat;
			z-index: 2;
		}
		
		.dragon_text {
			@include border_boxed;
			position: absolute;
			z-index: 3;
			height: auto;
		}
		
		.dragon_text_1 {
			top: 113px;
			left: 0;
		}
		
		.dragon_text_2 {
			top: 616px;
			right: 0;
		}
		
		.dragon_text_3 {
			top: 1092px;
			left: 0;
		}
		
		.dragon_top_label {
			font-family: 'Neucha';
			font-size: 36px;
			line-height: 40px;
			color: white;
		}
		
		.dragon_bottom_label {
			margin-top: 20px;
			line-height: 30px;
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
		
		.notes {
			position: absolute;
			width: 100%;
			height: 205px;
			bottom: 0;
			left: 0;
			font-size: 12px;
			font-family: 'Roboto_Light';
			
			.r {
				font-size: 9px;
				line-height: 9px;
				vertical-align: top;
				font-family: 'Roboto_Medium';
			}
		}
	}
	
	.safety_container {
		height: 762px;
		background: url('/img/user/1280/safety.jpg') no-repeat right;
		
		.safety_text {
			@include border_boxed;
			height: auto;
			top: 191px;
			left: 0;
			position: absolute;
			padding: 0 40px 0 0;
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'Neucha';
			color: $titleblue;
			text-transform: uppercase;
		}
		
		.bottom_label {
			margin-top: 25px;
			line-height: 30px;
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
	}
	
	.europe_container {
		height: 772px;
		position: relative;
		
		&:before {
			@include blue_bubbles;
			top: -12px;
		}
		
		.content {
			&:after {
				@include pseudo;
				width: 389px;
				height: 393px;
				background: url('/img/user/1280/euro.png') no-repeat;
				right: 0;
				top: 177px;
			}
		}
		
		.europe_text {
			@include border_boxed;
			height: auto;
			top: 245px;
			left: 0;
			position: absolute;
			padding: 0 40px 0 0;
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'Neucha';
			color: white;
			text-transform: uppercase;
		}
		
		.bottom_label {
			margin-top: 45px;
			line-height: 30px;
			
			.r {
				font-size: 14px;
				line-height: 18px;
				vertical-align: top;
			}
		}
	}
	
	.map_container {
		height: 742px;
		background-color: $darkblue;
		
		.title {
			height: 130px;
			background-color: $darkblue;
			font-size: 36px;
			line-height: 50px;
			color: white;
			text-transform: uppercase;
			font-family: 'Neucha';
			
			.adorable_cell {
				padding: 0 60px;
			}
			
			.r {
				font-size: 18px;
				line-height: 25px;
				vertical-align: top;
			}
		}
		
		#map {
			height: 612px;
			position: relative;
			
			&:before {
				@include pseudo;
				height: 17px;
				width: 100%;
				background: url('/img/user/1280/map_arc.png') no-repeat center;
				top: -1px;
				left: 0;
				z-index: 1;
			}
		}
	}
	
	.know_container {
		height: 122px;
		background-color: $blue;
		color: #4d91ca;
		
		.cost {
			height: 44px;
			padding: 0 30px;
			font-size: 20px;
			color: $buttonblue;
		}
	}
}