.instruction_top_container
	.content.adorable_table
		.adorable_cell
			a.know_logo.new_module(href="/")
			.instruction Инструкция
			.arrow
			.contacts.half
				.adorable_table
					.adorable_cell
						.icons
							a.icon.fb(href="https://www.facebook.com/mamamozet", target="_blank")
							a.icon.vk(href="https://vk.com/mamamozet", target="_blank")
						
						.text
							div 04070, м. Київ, вул. Іллінська, 8, 11 
							div під’їзд, 5 поверх

.instruction_container
	.content.adorable_table
		.adorable_cell
			.items_container
				.item.active
					.arrow
					.title
						span Состав лекарственного средства
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Лекарственная форма
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Название и местонахождения производителя
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Фармакотерапевтическая группа
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Показания к применению
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Противопоказания
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Особенности применения
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Применение в период беременности и кормления грудью
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Влияние на способность вождения механических средств, транспорта и обслуживания механического оборудования
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Дети
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Способ применения и дозы
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Передозировка
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Побочные эффекты
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Состав лекарственного средства
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Взаимодействие с другими лекарственными средствами и другие виды взаимодействий
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Срок годности
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Условия хранения
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Упаковка
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
				
				.item
					.arrow
					.title
						span Условия отпуска
					.text
						div действующее вещество: ibuprofen;
						div 1 мягкая капсула содержит ибупрофена 200 мг;
						div вспомогательные вещества: макрогол 600 (Е 1521), калия гидроксид (Е 525), очищенная вода;
						div желатиновая капсула: мальтитол жидкий (Е965), сорбитол жидкий, некристаллизирующийся (Е420)
			
			button.slide_up Свернуть

.warning_container
	.warning_image