.instruction_top_container
	.content.adorable_table
		.adorable_cell
			a.know_logo.new_module(href="/")
			
			.contacts.half
				.adorable_table
					.adorable_cell
						.icons
							.text
								div 04070, г. Киев, ул. Ильинская, 8, 
								div 11 подъезд, 5 этаж
							
							// a.icon.fb(href="https://www.facebook.com/mamamozet", target="_blank")
							// a.icon.vk(href="https://vk.com/mamamozet", target="_blank")

.warning_container
	img(src="/img/user/HW-1.jpg")