doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Ибуфен - эффективное жаропонижающее и обезболивающее для детей. Препарат для лечения гриппа и головной боли
		link(href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
		block header
	
	body(style="overflow: hidden;")
		#preloader(style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background: url('/img/user/pat.jpg') repeat center; z-index: 999999;")
			img(src="/img/preloader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;")
		
		#main_container.small
			#topper
				include topper
			
			#modules
				block content
			
			#footer
				include footer
		
		include console_fix
		
		// script(src="/js/plugins/steal/steal.js", config-path="/js/app/user/config.js", main="js/app/user/core/")
		script(src="/js/plugins/steal/steal.production.js", data-env="production", main="core")
		
		block scripts
			include route
			include codes
			
			script(src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true")