#fixed_topper
	.content.adorable_table
		.adorable_cell
			a.logo.new_module(href="/")
			
			span.fever Поможет быстро* и надолго* устранить жар
			
			.icons
				a.new_module(href="/advices")
					button.advices Советы
				
				a.icon.fb(href="https://www.facebook.com/mamamozet", target="_blank")
				a.icon.vk(href="https://vk.com/mamamozet", target="_blank")