#fixed_topper
	.content.adorable_table
		.adorable_cell
			a.logo.new_module(href="/")
			
			span.fever
				span Поможет быстро
				sup *
				span  и надолго
				sup *
				span  устранить жар
			
			.icons
				a.new_module(href="/advices")
					button.advices Советы
				
				a(href="http://sopelka.ibufen.com.ua", target="_blank")
					button.sopelka
						div Попробуйте
						div Сопелку
				
				// a.icon.fb(href="https://www.facebook.com/mamamozet", target="_blank")
				// a.icon.vk(href="https://vk.com/mamamozet", target="_blank")